body {
    background-image: url(https://media.istockphoto.com/id/182493016/photo/sky-and-grass-backround.webp?b=1&s=170667a&w=0&k=20&c=OOlzafda9qvDo-pVzfRYEWGpvtvS4ah3-9SLmy_vWWY=);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.caption {
    text-align: center;
    display: flex 1;
    margin-left: 500px;
    margin-right: 70px;
    margin-bottom: 100px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 40px;
}

.container{
    padding-top: 200px;
    background-color: azure;
    padding-bottom: 40px;
    padding-left: 60px;
    margin-left: 200px;
}

.lets{
    text-align: center;
    display: flex 1;
    margin-left: 500px;
    margin-right: 70px;
    margin-bottom: 150px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 40px;
}

.form-page{
    text-align: center;
    display: flex 1;
    margin-left: 500px;
    margin-right: 70px;
    margin-bottom: 150px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 40px;
}

.create-account{

    text-align: center;
    display: flex 1;
    margin-left: 500px;
    margin-right: 70px;
    margin-bottom: 150px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 40px;
}
